.p1 {
    color: red;
}
.p2 {
    font-family: "Microsoft YaHei";
}
.p3 {
    font-size: 26px;
}
.p4 {
    font-weight: bold;
}
.p5 {
    font-style: italic;
}
.p6 {
    text-indent: 20px;
}
.p7 {
    text-align: center;
}
.p8 {
    line-height: 100px;
    background-color: aquamarine;
}
.p9 {
    height: 100px;
    line-height: 100px;
    background-color: gray;
    text-align: end;
}
.p10 {
    text-decoration: underline;
}