.a {
    width: 20%;
    background-color: orangered;
}
.b {
    width: 60%;
    background-color: green;
}
.c {
    width: 20%;
    background-color: blue;
}
.a,.b,.c {
    float: left;
    height: 200px;
}
.last {
    height: 360px;
    background-color: #222222;
}
.outer {
    overflow: auto;
}